@media (max-width: 479px){
  body{
    min-width: 320px;
  }
  header{
    width: 479px;
  }

  .logo img {
    margin-left: 111px;
    margin-top: -6px;
  }

  .menu480px{
    left: 80px;
    top: 118px;
  }

  .sliders{
    height: 314px;
  }

  .sliders__background{
    background: none;
  }

  .sliders__wrapper{
    width: 320px;
  }

  .sliders_img{
    display: none;
  }

  .sliders__leftbox{
    top: 40%;
    left: -29px;
  }

  .sliders__centralbox{
    width: 280px;
    margin-left: -18px;
  }

  .sliders__text{
    margin: 0;
    padding: 0;
  }

  .sliders__hedline1{
    padding-top: 17px;
    margin-left: 47px;
  }

  .sliders__hedline2{
    margin-left: 45px;
    width: 210px;;
  }

  .sliders__radio-wrapper{
    left: 101px;
    top: 223px;
    padding: 0;
    margin: 0;
  }

  .sliders__rightbox{
    top: 39%;
    right: 34px;
  }

  .about {
        margin-top: -36px
  }

  .about__wraper{
    width: 320px;
  }

  .about__box1{
    margin-top: 65px;
    margin-left: 18px;
    width: 300px;
    overflow: hidden;
  }
.about__box2{
    margin-top: 14px;
    margin-left: 18px;
  }

.about__box3{
    margin-top: 1px;
    margin-left: 8px;
  }

  .about__content{
    width: 191px;
    overflow: hidden;
  }

  .about__paragraph{
    width: 100%;;
    padding: 0;
    margin: 0;
    height: 73px;
    overflow: hidden;
  }
  
  .about__link{
    margin: 18px 0px 0px 0px;
  }
  
  .about__box2{
    height: 174px;
    width: 300px;
    overflow: hidden;;
  }
  .about__box3{
    width: 287px;
    overflow: hidden;
  }
  
  .lightgrey-wrapper1{
    width: 100%;
  }
  
  .lightgrey-wrapper1__content{
    width: 280px;
  }
  .testimonials{
    overflow: hidden;
    height: 330px;
    width: 280px;
    margin-top: 76px;
    margin-left: 8px;
    background: url(../img/bg-testimonials320px.png) top  no-repeat;
  }
  
  .testimonials__headline{
    font-size: 24px;
    margin-left: 60px;
    padding-top: 0px;
    width: 96px;
    height: 38px;
    margin-top: 24px;
  }
  
  .testimonials__paragraph{
    padding-left: 72px;
    padding-top: 6px;
    width: 204px;
    height: 193px;
  }
  
  .testimonials__radio-wrapper{
    padding-left: 60px;
    margin-top: 27px;
  }
  
  .fromblog{
    width: 320px;
    margin-top: 0;
    margin-left: 8px;
  }
  
  .fromblog__headline{
    margin-left: 0px;
  }
  
  .fromblog__post{
    margin-left: 0px;
    padding-top: 3px;
  }
  
  .flomblog__topic{
    width: 168px;
    overflow: hidden;
    height: 16px;
  }
  
  .flomblog__link{
    padding-right: 50px;
  }
  
  .lightgrey-wrapper2{
    height: 418px;
  }
  
  .logos{
    width: 320px;
    background: url(../img/logos320px.png) no-repeat top;
    margin-top: 56px;
    margin-left: 42px;
  }
  
  .comments{
    display: none;
  }
  
  .footer{
    height: 202px;
  }
  
  .footer__nav{
    width: 320px;
  }
  
  .footer__menu{
    display: none;
  }
  
  .designed{
    padding-left: 20px;
    padding-top: 46px;
  }
}
