@media (max-width: 767px) {
    body {
        max-width: 767px;
    }

    header {
        width: 480px;
        height: 545px;
        margin: 0 auto;
    }

    .logo img {
        margin-left: 150px;
    }

    .menu {
        display: none;
    }

    .header__nav480px {
        display: block;
    }

    .menu480px {
        position: absolute;
        z-index: 100;
        top: 122px;
        left: 118px;
        display: block;
    }

    .menu480px__item {
        width: 241px;
        height: 39px;
        border-top: 1px solid #5e486a;
        border-bottom: 1px solid #36283e;
    }

    .menu480px__link {
        display: block;
        color: white;
        font-family: 'league_gothicregular', Tahoma, sans-serif;
        font-size: 24px;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }

    .menu480px .menu480px__item-top {
        position: relative;

        width: 244px;
        height: 0;
        height: 43px;
        padding-top: 13px;
        border: none;
        background: none;
        text-align: center;
    }

    .menu480px__item-top > .menu480px__link {
        width: 47px;
        height: 31px;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 4px;
        padding-top: 0;
        border-bottom: 3px solid #edbfff;
        line-height: 30px;
    }

    .menu480px__item-top:hover {
        width: 241px;
        border-radius: 6px 6px 0 0;
        background: rgba(61,49,70,.9);
    }

    .menu480px-inside {
        position: absolute;
        left: -9999px;
        border-radius: 0 0 6px 6px;
        background: rgba(61,49,70,.9);
    }

    .menu480px-inside .menu480px__item:last-child {
        border-radius: 0 0 6px 6px;
    }

    .menu480px__item-top:hover .menu480px-inside {
        left: 0;
    }

    .menu480px-inside .menu480px__link:hover {
        border-bottom: 2px solid #edbfff;
    }

    .menu480px-inside .menu480px__item:hover {
        background: rgba(36,28,42,.3);
    }

    /*CONTENT*/
    .sliders {
        width: 100%;
        height: 344px;
        margin-top: 72px;
    }

    .sliders__background {
        width: 100%;
        height: 246px;
    }

    .sliders__wrapper {
        width: 480px;
        margin: 0 auto;
    }

    .sliders__leftarrow {
        position: absolute;
        top: 41%;
        left: -13px;
    }

    .sliders__centralbox {
        position: relative;
        width: 417px;
        height: 189px;
    }

    .sliders__text {
        margin-top: 14px;
        margin-left: 3px;
    }

    .sliders__hedline1 {
        margin-top: 0;
        margin-left: 3px;

        font-size: 36px;
    }

    .sliders__hedline2 {
        overflow: hidden;
        width: 189px;
        height: 18px;
        margin-top: 2px;
        margin-left: 2px;
        font-size: 18px;
    }

    .sliders__paragraph {
        display: none;
    }

    .sliders_img {
        width: 185px;
        margin-top: -158px;
        margin-right: 2px;
        padding-right: 0;
    }

    .sliders__rightarrow {
        position: absolute;
        top: 41%;
        right: -152%;
    }

    .sliders__radio-wrapper {
        top: 267px;
        left: 40%;
    }

    .about__wraper {
        width: 480px;
        height: 560px;
        margin: 0 auto;
    }

    .about {
        height: 594px;
    }

    .about__box1 {
        float: none;
        width: 480px;
        height: 140px;
        margin-top: 69px;
        margin-left: 10px;
    }

    .about__icon1 {
        margin-top: 8px;
        margin-left: 20px;
    }

    .about__icon2 {
        margin-top: 8px;
        margin-left: 20px;
    }

    .about__icon3 {
        margin-top: 5px;
        margin-left: 31px;
    }

    .about__box2 {
        float: none;
        width: 480px;
        height: 161px;
        margin-top: 17px;
        margin-left: 9px;
    }

    .about__box3 {
        float: none;
        width: 505px;
        margin: 0;
        margin-top: 0;
        padding: 0;;
    }

    .about__content {
        width: 407px;;;;
    }

    .about__paragraph {
        width: 430px;
        height: initial;
        margin: 0;
        padding: 0;
    }

    .about__link {
        margin: 19px 37px 0 0;
        padding: 0;
    }

    .lightgrey-wrapper1 {
        height: 786px;
    }

    .lightgrey-wrapper1__content {
        width: 480px;
    }

    .testimonials {
        float: none;
        width: 446px;
        height: 289px;
        margin: 0 auto;
        margin-top: 70px;
        padding: 0;
        background: url(../img/bg-testimonials480px.png) top right no-repeat;
    }

    .testimonials__headline {
        width: 222px;
        margin-left: 66px;
        padding-top: 27px;
        font-size: 30px;
    }

    .testimonials__paragraph {
        width: 360px;
        height: 173px;
        padding-top: 4px;
        padding-left: 74px;
    }

    .testimonials__radio-wrapper {
        float: none;
        width: 100px;
        margin: 0 auto;
        margin-top: 54px;
        padding-left: 24px;
    }

    .fromblog {
        float: none;
        width: 430px;
        margin-top: 71px;
        margin-left: 70px;
    }

    .fromblog__postedby {
        overflow: hidden;
        width: 268px;
        height: 17px;
    }

    .flomblog__link {
        margin-top: 0;
        padding-right: 86px;
    }

    .lightgrey-wrapper2 {
        height: 230px;
    }

    .logos {
        width: 440px;
        background: url(../img/logos480px.png) no-repeat center;
    }

    .footer {
        height: 869px;
    }

    .comments {
        width: 440px;
        height: 611px;
        margin: 0 auto;
    }

    .comments__box {
        float: none;
        width: 440px;
        height: 44px;
        margin-top: 81px;
        margin-bottom: 148px;
        padding-left: 11px;
    }

    .comments__paragraph {
        width: 440px;
        font-size: 16px;
    }

    .comments__box:last-child {
        margin-top: -18px;
        margin-left: -3px;;
    }

    .footer__nav {
        width: 480px;
        height: auto;
    }

    .footer__menu {
        display: block;
        width: 480px;
        margin: 0 auto;
    }

    .footer__item {
        margin-top: 22px;
        margin-right: 4px;
        margin-left: 21px;
    }

    .designed {
        display: block;
        float: none;
        width: 140px;
        margin: 0 auto;
        padding-top: 81px;
    }
}

